body {
    background-image: url("background.jpg");
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    width: 600px;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#about {
    font-size: 20px;
}

nav {
    font-size: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#icons {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-left: 25%;
    margin-top: 30px;
}

#icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

#links a {
    padding-top: 20px;
}

